# Enable module signature verification using PQC algorithms
CONFIG_MODULES=y
CONFIG_MODULE_SIG=y
CONFIG_MODULE_SIG_FORCE=y
CONFIG_MODULE_SIG_KEY_TYPE_MLDSA_44=y
CONFIG_MODULE_SIG_KEY_TYPE_MLDSA_65=y
CONFIG_MODULE_SIG_KEY_TYPE_MLDSA_87=y
CONFIG_MODULE_SIG_KEY="modsign_key.pem"
